<a href="https://colab.research.google.com/github/CMPerdomo/Data_Analytics/blob/main/Christal_2_4_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
fruits = ["apples", "oranges", "kiwis", "blueberries", "dragonfruit"]

## 2.	Print out those variables by using a for loop

In [ ]:
for fruit in fruits:
  print(fruit)

apples
oranges
kiwis
blueberries
dragonfruit

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for fruit in fruits:
  print("I eat " + fruit + " everyday when they are in season.")

I eat apples everyday when they are in season.
I eat oranges everyday when they are in season.
I eat kiwis everyday when they are in season.
I eat blueberries everyday when they are in season.
I eat dragonfruit everyday when they are in season.

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for even in range(2, 21, 2):
  print(even)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
fruits.sort()
print(fruits)

['apples', 'blueberries', 'dragonfruit', 'kiwis', 'oranges']

## 6.	Print out the first three elements of your list.

In [ ]:
for fruta in fruits[:3]:
  print(fruta)

apples
blueberries
dragonfruit

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for fruta in fruits[-2:]:
  print(fruta)

kiwis
oranges